.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 10px 0px;
}

.navbarMenu {
  color: rgb(255, 255, 255);
  margin: 8px 20px; /* 위아래 간격은 8픽셀, 좌우 간격은 20픽셀*/
  text-decoration: none;
  text-align: center;
}

.navbarMenu:hover {
  color: gray;
}
